body {
    background-color: rgb(199, 199, 199) ;
}

.nav-list {
    background-color: rgb(202, 230, 230);
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items:center;

}

.nav-item {
    margin: 10px;
}

ul {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
}

.primary-btn{
    font-size: 1rem;
    background-color: aquamarine;
    border:none;
    border-radius: 2px;
    cursor: pointer;
}

.primary-btn:hover {
    color: red;
}

.nav-item:first-child {
    margin-right:auto;
    margin-left: 2rem;
    font-weight: bold;
}
@media (max-width : 490px) {
.nav-list {
    flex-direction: column;
}
}